parameters:
    paths:
        - tests

    level: max
    treatPhpDocTypesAsCertain: false

    stubFiles:
        - tests/pest-livewire.stub
        - tests/pest-browser.stub
        - stubs/Illuminate/Http/Response.stub
        - stubs/Illuminate/Testing/TestResponse.stub
        - stubs/Symfony/Component/HttpFoundation/Response.stub

    tmpDir: storage/framework/cache/phpstan-pest
