parameters:
    paths:
        - tests

    level: 5

    stubFiles:
        - tests/pest-livewire.stub

    bootstrapFiles:
        - bootstrap/app.php

    tmpDir: storage/framework/cache/phpstan-pest
